<a href="https://colab.research.google.com/github/Nisha-chaturvedi-tech/machine-learning/blob/main/svm_diabetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
## load train n test data from google drive

from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
dia= pd.read_csv('gdrive/My Drive/colab/diabetes.csv')

In [ ]:
dia.head()

   Glucose  BloodPressure  ...  Age  Outcome
0      148             72  ...   50        1
1       85             66  ...   31        0
2      183             64  ...   32        1
3       89             66  ...   21        0
4      137             40  ...   33        1

[5 rows x 8 columns]

In [ ]:
dia.isnull().sum()

Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
### split dataset

x=dia.iloc[:,0:7]
x.head()

   Glucose  BloodPressure  SkinThickness  ...   BMI  DiabetesPedigreeFunction  Age
0      148             72             35  ...  33.6                     0.627   50
1       85             66             29  ...  26.6                     0.351   31
2      183             64              0  ...  23.3                     0.672   32
3       89             66             23  ...  28.1                     0.167   21
4      137             40             35  ...  43.1                     2.288   33

[5 rows x 7 columns]

In [ ]:
# outcome
y=dia.iloc[:,7:]
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [ ]:
from sklearn.model_selection import train_test_split
x_train ,x_test , y_train , y_test=train_test_split(x , y , test_size=0.4,random_state=7 )

In [ ]:
#create model
from sklearn.model_selection import train_test_split
x_train ,x_test , y_train , y_test=train_test_split(x , y , test_size=0.4,random_state=10 )

#load SVM model

from sklearn.svm import SVC
model = SVC(kernel='rbf')
model.fit(x_train, y_train)
pred= model.predict(x_test)

In [ ]:
###side by sidecomparision
result=x_test
result['Actual'] = y_test
result['Predicted']= pred
result.head()

     Glucose  BloodPressure  SkinThickness  ...  Age  Actual  Predicted
568      154             72             29  ...   37       0          1
620      112             86             42  ...   28       0          0
456      135             54              0  ...   62       0          0
197      107             62             13  ...   23       1          0
714      102             74              0  ...   32       0          0

[5 rows x 9 columns]

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_test , pred)

array([[178,  23],
       [ 62,  45]])

In [ ]:
print('accuracy')
accuracy_score(y_test , pred)

accuracy

0.724025974025974

In [ ]:
## we have already applied kernel as rbf ,it was showing poor accuracy so we changed kernel to linear.thats why below models has linear kernel

#load SVM model and parameter tuning: C=1,10,100)

from sklearn.svm import SVC

list_C = [1,10,100]
accu=[]
for i in list_C:
  x_train , x_test, y_train, y_test = train_test_split(x,y,test_size=0.4,random_state=10)
  model = SVC(kernel='linear', C=i )
  model.fit(x_train, y_train)
  pred= model.predict(x_test) 
  temp = accuracy_score(y_test , pred) 
  print('C value ' , i , ' Accuracy Score' , temp)
  accu.append(temp)

C value  1  Accuracy Score 0.762987012987013
C value  10  Accuracy Score 0.762987012987013
C value  100  Accuracy Score 0.7564935064935064

In [ ]:
#load SVM model and parameter tuning: Gamma=1,10,100)

from sklearn.svm import SVC

list_Gamma = [1,10,100]
accu=[]
for i in list_Gamma:
  x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.4,random_state=10)
  model = SVC(kernel='linear', gamma=i )
  model.fit(x_train, y_train)
  pred= model.predict(x_test) 
  temp = accuracy_score(y_test , pred) 
  print('Gamma value ' , i , ' Accuracy Score' , temp)
  accu.append(temp)

Gamma value  1  Accuracy Score 0.762987012987013
Gamma value  10  Accuracy Score 0.762987012987013
Gamma value  100  Accuracy Score 0.762987012987013

In [ ]:
#load SVM model and parameter tuning: kernel=liner,rbf

from sklearn.svm import SVC

list_kernel = ['linear','rbf']
accu=[]
for i in list_kernel:
  model = SVC(kernel= i )
  model.fit(x_train, y_train)
  pred= model.predict(x_test) 
  temp = accuracy_score(y_test , pred) 
  print('kernel ' , i , ' Accuracy Score' , temp)
  accu.append(temp)

kernel  linear  Accuracy Score 0.762987012987013
kernel  rbf  Accuracy Score 0.724025974025974

In [ ]:
#### best model: kernel=linear, gamma= 1 or 10, c value=1 or 10

from sklearn.svm import SVC
model = SVC(kernel= 'linear', gamma=10, C=10 )
model.fit(x_train, y_train)
pred= model.predict(x_test) 
temp = accuracy_score(y_test , pred) 
print( 'best model is witk kernel-linear,g=10,c=10\n', 'Accuracy Score' , temp)

best model is witk kernel-linear,g=10,c=10
 Accuracy Score 0.762987012987013

In [ ]:
doctor=model.predict([[128,78,0,0,21.1,0.268,55]])
if doctor==0:
    print('Congratulation ! you are not diabetic')
else:
        print('you are diabetic')

Congratulation ! you are not diabetic

In [ ]:
doctor=model.predict([[152,78,0,0,21.1,0.268,55]])
if doctor==0:
    print('Congratulation ! you are not diabetic')
else:
        print('you are diabetic')

Congratulation ! you are not diabetic

In [ ]:
doctor=model.predict([[153,78,0,0,21.1,0.268,55]])
if doctor==0:
    print('Congratulation ! you are not diabetic')
else:
        print('you are diabetic')

you are diabetic

In [ ]:
#Conclusion:

##threholdvalue_glucose= 153:makes person diabetic

##after doing analysis on diabetes data on logistic reg,KNN,SVM: best accuracy found on LOGISTIC REG MODEL