<a href="https://colab.research.google.com/github/Nisha-chaturvedi-tech/machine-learning/blob/main/svm_iris_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
iris=pd.read_csv('iris.data', header=None)

In [ ]:
iris.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [ ]:
col=['sepal length','sepal width', 'petal length', 'petal width', 'class']

In [ ]:
iris.columns =col

In [ ]:
iris

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
iris.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
iris.isnull().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

In [ ]:
# Get the feature
x = iris.iloc[:,0:4]
x.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [ ]:
##Get outcome
y= iris.iloc[:,4:]
y.head()

         class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [ ]:
#create model
from sklearn.model_selection import train_test_split
x_train ,x_test , y_train , y_test=train_test_split(x , y , test_size=0.4,random_state=10 )

#load SVM model

from sklearn.svm import SVC
model = SVC(kernel='rbf')
model.fit(x_train, y_train)
pred= model.predict(x_test)

In [ ]:
pred

array(['Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica'], dtype=object)

In [ ]:
###side by sidecomparision
result=x_test
result['Actual'] = y_test
result['Predicted']= pred
result.head()

     sepal length  sepal width  ...           Actual        Predicted
87            6.3          2.3  ...  Iris-versicolor  Iris-versicolor
111           6.4          2.7  ...   Iris-virginica   Iris-virginica
10            5.4          3.7  ...      Iris-setosa      Iris-setosa
91            6.1          3.0  ...  Iris-versicolor  Iris-versicolor
49            5.0          3.3  ...      Iris-setosa      Iris-setosa

[5 rows x 6 columns]

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_test , pred)

array([[18,  0,  0],
       [ 0, 21,  3],
       [ 0,  0, 18]])

In [ ]:
accuracy_score(y_test , pred)

0.95

In [ ]:
#load SVM model and parameter tuning: C=1,10,100)

from sklearn.svm import SVC

list_C = [1,10,100]
accu=[]
for i in list_C:
  x_train , x_test, y_train, y_test = train_test_split(x,y,test_size=0.4,random_state=10)
  model = SVC(kernel='rbf', C=i )
  model.fit(x_train, y_train)
  pred= model.predict(x_test) 
  temp = accuracy_score(y_test , pred) 
  print('C value ' , i , ' Accuracy Score' , temp)
  accu.append(temp)

C value  1  Accuracy Score 0.95
C value  10  Accuracy Score 0.9666666666666667
C value  100  Accuracy Score 0.9666666666666667

In [ ]:
#load SVM model and parameter tuning: Gamma=1,10,100)

from sklearn.svm import SVC

list_Gamma = [1,10,100]
accu=[]
for i in list_Gamma:
  x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.4,random_state=10)
  model = SVC(kernel='rbf', gamma=i )
  model.fit(x_train, y_train)
  pred= model.predict(x_test) 
  temp = accuracy_score(y_test , pred) 
  print('Gamma value ' , i , ' Accuracy Score' , temp)
  accu.append(temp)

Gamma value  1  Accuracy Score 0.9666666666666667
Gamma value  10  Accuracy Score 0.8666666666666667
Gamma value  100  Accuracy Score 0.4166666666666667

In [ ]:
#load SVM model and parameter tuning: kernel=liner,rbf

from sklearn.svm import SVC

list_kernel = ['linear','rbf']
accu=[]
for i in list_kernel:
  model = SVC(kernel= i )
  model.fit(x_train, y_train)
  pred= model.predict(x_test) 
  temp = accuracy_score(y_test , pred) 
  print('kernel ' , i , ' Accuracy Score' , temp)
  accu.append(temp)

kernel  linear  Accuracy Score 0.9666666666666667
kernel  rbf  Accuracy Score 0.95

In [ ]:
#### best model: kernel=linear, gamma= 1, c value=10 or 100

from sklearn.svm import SVC
model = SVC(kernel= 'linear', gamma=1, C=100 )
model.fit(x_train, y_train)
pred= model.predict(x_test) 
temp = accuracy_score(y_test , pred) 
print( 'best model is witk kernel-linear,g=1,c=100\n', 'Accuracy Score' , temp)

best model is witk kernel-linear,g=1,c=100
 Accuracy Score 0.9666666666666667

In [ ]:
###predict on new data points

iris_newpred=model.predict([[6.4,2.7,5.3,1.9]])
if iris_newpred=='Iris-virginica':
    print('Congratulation ! you predicted correct')
else:
        print('sorry,wrong prediction')

Congratulation ! you predicted correct

In [ ]:
##CONCLUSION:

##after doing analysis on IRIS data on logistic reg,KNN,SVM: best accuracy found on SVM OR KNN MODEL